.main-contact{
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-heading{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
    background-image: url(../Assets/wave-haikei.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(53, 59, 65);
    font-size: 55px;
    font-weight: 700;
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}
.contact-heading2{
    height: 800px;
    width: 100%;
    /* background-color: wheat; */
    background-image: url(../Assets/blobt.svg);
    color: white;
}
.card-contact{
    height: 500px;
    width: 500px;
    background-color: rgba(240, 248, 255, 0.189);
    opacity: 0.8;
   margin-left: 500px;
   padding-top: 50px;
}
.contact-heading>iframe{
    margin-top: 100px;
}
@media  screen and (max-width:379px) {
    .contact-heading{
        height: 218vh;
        width: 355vw;
        /* font-size: 40px; */
        color: white;
        font-size: 40rem;
        font-weight: 700;
    }
    .contact-heading h1{
        font-size: 140px;
    }
    .contact-heading>iframe{
margin-top: 150px;
height: 400px;
width: 950px;
    }
    .contact-heading2{
        height: 164vh;
        width: 355vw;
    }
    .card-contact{
        width: 868px;
        height: 800px;
        opacity: 0.9;
        /* margin-right: 201px; */
        margin-left: 275px;
    }
}